<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
  <!-- Gazebo Harmonic physics plugin -->
<plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
    <left_joint>wheel1_joint</left_joint>
    <right_joint>wheel2_joint</right_joint>
    <wheel_separation>0.57</wheel_separation>
    <wheel_diameter>0.150</wheel_diameter>
    <max_wheel_torque>200</max_wheel_torque>
    <max_wheel_acceleration>10.0</max_wheel_acceleration>
    <topic>cmd_vel</topic>
    <odom_topic>odom</odom_topic>
    <odom_frame>odom</odom_frame>
    <robot_base_frame>base_link</robot_base_frame>
</plugin>
<plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
            <joint_name>wheel1_joint</joint_name>
            <joint_name>wheel2_joint</joint_name>
            <joint_name>wheel3_joint</joint_name>
            <joint_name>wheel4_joint</joint_name>
        </plugin>

<!-- ROS2 Control plugin -->
<!-- <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GzROS2ControlPlugin">
    <parameters>$(find articubot_one)/config/controllers.yaml</parameters>
</plugin> -->
    </gazebo>


</robot>